[2017-04-22 06:50] SimenB opened #4 "Combine forces"
Hiya! 👋

I was linked this repo, and it seems to fulfill the same purpose as my own https://github.com/SimenB/add-asset-html-webpack-plugin. What do you think about combining forces? Seems unnecessary to have 2 plugins do essentially the same thing 😄

If you'd rather not though, that's totally fine, feel free to close!

[2017-04-22 10:13] jharris4 commented on #4
Hi there! Sure, we could combine forces. I had a quick look at your plugin, and they are indeed very similar. What are your thoughts about how we could proceed?

[2017-04-22 11:30] SimenB commented on #4
My initial thought is adding you as collaborator on my project and porting the features you've written here over to that (I really love the `files` option you've got). WDYT, I don't want to step on your toes? 😄

[2017-04-22 14:14] jharris4 commented on #4
I don't have a strong preference as to who's project gets merged to who's, but I'm a bit short on time to devote to that effort right now.

I'd be happy to help where I can if you feel like merging anything from this project that you feel would be nice to include in yours...

[2017-04-23 17:03] SimenB commented on #4
Ported `files`: https://github.com/SimenB/add-asset-html-webpack-plugin/commit/0ae8d222ad55ad671151f7970dfc4baf8a5a13f6

Any other feature you'd like to see ported, @jharris4?

[2017-04-23 17:35] SimenB commented on #4
I added you to the repo btw 😄

[2017-04-23 18:05] jharris4 commented on #4
Great, thanks. For me personally, the `append` option is particularly useful, as for something like CSS files, it's important to be able to control their occurrence order in the html file.

For example, when including bootstrap.css, I want to prepend (append: false). But when specifying custom style overrides, I want to append (append: true).

[2017-04-23 18:18] SimenB commented on #4
That also sounds like a useful option! How do you keep the order deterministic though?

[2017-04-23 18:38] jharris4 commented on #4
It's just a matter of whether the plugin's assets are appended or prepended to the list of assets maintained by the HtmlWebpackPlugin. The bulk of the logic for that is here: https://github.com/jharris4/html-webpack-include-assets-plugin/blob/master/index.js#L121

[2017-05-26 03:59] superpig opened #5 "could assets option support regexp match ?"
because some cdn don't support query hash, i want to use the chunkhash of webpack. so i need to include my file like this:

[code]

[2017-05-26 13:55] jharris4 commented on #5
regexp or globs are not currently supported for assets, but it's pretty easy to write some code to do that yourself.

If you want to use globs (easier than regexp), then you can do something like this:

[code]

[2017-06-07 03:14] superpig commented on #5
thinks, it works well

[2017-06-07 03:14] #5 closed

[2017-07-11 12:36] hallaathrad opened #6 "Extension forgiveness"
Noticed a JS file served without the extension will not be recognised as a valid asset to include (as stated well in the instructions, resulting in an error).
What would be a quick and easy way to turn that extension enforcement, and is there any chance we could make that a feature/option?

[2017-07-11 13:58] jharris4 commented on #6
I'd been meaning to get to this for a while... Just tagged version 0.0.6 with two new options: `jsExtensions` and `cssExtensions`.

Check out the update README for details / examples.

[2017-07-11 13:58] #6 closed

[2017-07-11 21:02] damianobarbati opened #7 "multiple entries support"
Can you add support for the `[name]` placeholder? So we can use the plugin dynamically and accordingly to entries.

[2017-07-11 21:10] jharris4 commented on #7
Could you please be more specific? An example of what you are trying to do (or better yet a PR) would help.

[2017-07-11 21:12] damianobarbati commented on #7
Sure, give me a couple of hours, I think the `files` options resolve the scenario and I'm trying it out. Thanks! :)

[2017-07-14 08:43] damianobarbati commented on #7
@jharris4 I solved with the files option, thanks!

[2017-07-14 08:43] #7 closed

[2017-07-17 04:11] mmiller42 commented on #6
This is a nice enhancement, but it'd be even cooler if you could set this on an individual asset level, manually. For example, the URL `https://fonts.googleapis.com/css?family=Material+Icons` loads a CSS document but doesn't have any extension at all. It'd be neat if, when specifying assets, you could simply override its detection, e.g.

[code]

Would you be open to that kind of configuration? If

[2017-07-17 13:31] jharris4 commented on #6
Absolutely! And I see you've already created one, I'll take a look

[2017-07-19 18:05] dylanharty opened #9 "Regex Assets Include"
Hey, is there currently a way to include assets using a * syntax?

For Example:
`
 new HtmlWebpackIncludeAssetsPlugin({
          assets: ['./assets/js/*.js'],
          append: true
}),
`
Note: the above does not work. It will include /assets/js/*.js literally.

[2017-07-19 18:08] dylanharty commented on #9
Question has already been asked and closed.

[2017-07-19 18:08] #9 closed

[2017-07-20 15:31] hallaathrad opened #10 "External from included assets"
Beforehand, I am somewhat ignorant in this regard, but is it possible to add one of the included assets as an external? Say if you load jQuery through this plugin, could I refer to it in the same webpack config as an external, to expose it as a global variable, or even use it in my app?

Not sure if what I'm asking even makes sense technically.

[2017-07-20 16:13] jharris4 commented on #10
Are you referring to using the [webpack.ProvidePlugin](https://webpack.js.org/plugins/provide-plugin/)

If so then webpack actually automatically includes the package that you're providing into the generated bundles.

[2017-07-20 16:17] jharris4 commented on #10
Or, if you mean using the [externals](https://webpack.js.org/configuration/externals/) section of the webpack config, then yes, you can set an external, and then also include the script for that external asset via `html-webpack-include-assets-plugin`

[2017-08-01 10:26] fnlctrl opened #11 "Support globs for assets?"
Something like
[code]

[2017-08-01 15:36] mmiller42 commented on #10
@hallaathrad Also, if you're interested, I built a separate plugin that uses `html-webpack-include-assets-plugin` to do this behind the scenes: [`html-webpack-externals-plugin`](https://github.com/mmiller42/html-webpack-externals-plugin/).

[2017-08-01 15:40] mmiller42 commented on #11
This was asked before: see https://github.com/jharris4/html-webpack-include-assets-plugin/issues/5

[2017-08-01 15:52] jharris4 commented on #11
As @mmiller42 said, this question has already been answered

[2017-08-01 15:52] #11 closed

[2017-08-01 16:37] hallaathrad commented on #10
@mmiller42 I've managed to get it working with the plugin @jharris4 suggested; yet I'm willing to give yours a try if only to reduce boilerplate.
Lemme get back to you later, when I get back to this. :+1:

[2017-08-01 16:37] #10 closed

[2017-09-12 18:59] mikegleasonjr commented on #5
Just curious, what's preventing adding it to the core?

[2017-09-12 19:10] jharris4 commented on #5
@mikegleasonjr I haven't had a need for it personally, and adding it to the core just basically requires time to code it, and add unit tests etc.

I'm happy to review a PR if you're so inclined ;-)

[2017-09-15 02:38] rokoroku opened #12 "support asset name placeholders (e.g. [hash].css)"
This plugin brilliantly works with using [copy-webpack-plugin](https://github.com/kevlened/copy-webpack-plugin) together.

However, it cannot handle filename template such as `style.[hash].css`.

It would be better when filename templating is supported.

https://github.com/webpack/loader-utils#interpolatename

[2017-09-15 03:21] jharris4 commented on #12
If the `[hash]` is already in your filename, then aren't you using webpack to generate that css file?

If so, then it should already be included in the style assets being injected to the `html-webpack-plugin` template.

The main motivation for `html-webpack-include-assets-plugin` is to provide a means to include non webpack generated assets in the html templates.

Can you provide more information

[2017-09-15 03:45] rokoroku commented on #12
it's a humble example,
[code]
In my scenario, the `styles.css` is built by another task (outside of gulp), I have to use CopyWebpackPlugin.
But when I template the filename with compilation hash, this plugin can't include the assets.

Of course, I can use the `hash` option... but I prefer hash filename. That's why I'm suggesting this feature.

[2017-09-15 04:09] rokoroku commented on #12
Or.. can we support **directory** or **glob pattern** for including assets?
It will solve my problem too.

[2017-09-15 17:30] jharris4 commented on #12
Just published version `0.0.8` with support for `asset.glob`. See the updated README for an example. Please let me know if you encounter any issues with the new feature.

[2017-09-15 17:30] #12 closed

[2017-09-15 17:31] jharris4 commented on #11
FYI, version `0.0.8` added support for `asset.glob`, see updated example in the README.

[2017-09-15 17:31] jharris4 commented on #5
FYI, version `0.0.8` added support for `asset.glob`, see updated example in the README.

[2017-09-15 17:46] mmiller42 opened #13 "Minor version"
Super trivial thing, but might be more semver to release a `0.1.0` instead of `0.0.x`. I'd imagine that this project is used enough and is popular enough to have a somewhat stable API. When npm-installing a package at 0.0, however, npm always resolves to the exact version, without using `~` or `^`. I'm not sure, but I don't think 0.0.x is technically valid according to the semver spec.

[2017-09-15 18:13] jharris4 commented on #13
I think it is a valid semver, and I've typically been using `>=0.0.x` in my package.json... But yeah, I suppose I could bump the version to `1.0.0` or something for the next version.

[2017-09-15 18:17] mmiller42 commented on #13
Probably emphasis is that new features are being introduced in this project, while only the patch version is incremented. Technically, new (but backwards-compatible) features should increment minor, while only bugfixes should increment patch.

[2017-09-15 19:08] jharris4 commented on #13
yeah, you have a good point that it should be minor version bumps since backwards compatibility has been maintained. I'll switch over to `1.0.0` for the next release.

[2017-09-15 20:38] jharris4 commented on #13
version `1.0.0` was just released. Thanks for the feedback.

[2017-09-15 20:38] #13 closed

[2017-10-26 06:53] dietergeerts commented on #12
I can't get this to work with the added hash to the filename of CopyWebpackPlugin, and the examples in the README doesn't show this either. So can you add the example or tell me how to do this?

[2017-10-26 09:57] jharris4 commented on #12
@dietergeerts Can you post an example of what you’re trying to do? I don’t personally use the hash function so an example would allow me to explore if the newer versions of CopyWebpackPlugin have changed and broken something related to hashes

[2017-11-10 16:34] dylanharty opened #16 "GLOB not working as intended"
Problem: CSS files are not being included in the HTML document correctly if using GLOB from this library. However, if i use glob.sync before to create an array of assets before the `new HtmlWebpackIncludeAssetsPlugin`, it works fine(same pattern).

HtmlWebpackIncludeAssetsPlugin

[code]
The above should use the GLOB pattern 'src/modules/*/assets/css/*.css' to find matching files. However even if t

[2017-11-10 17:11] jharris4 commented on #16
Can you provide a bit more detail about what you're trying to do?

Are you trying to include all the `.css` files inside the `src/modules/assets/css/` directory?

If so, are you also using the [copy-webpack-plugin](https://github.com/webpack-contrib/copy-webpack-plugin) to copy the files to your webpack output as well?

I can try and reproduce what you're doing if you can give me a more complete e

[2017-11-10 17:15] dylanharty commented on #16
@jharris4 Yes, include all the files from a directory into the HTML document after they have been copied by [copy-webpack-plugin](https://github.com/webpack-contrib/copy-webpack-plugin).

I could not figure out the problem with the native library code. So I used glob.sync within the plugin to achieve close to the same result.

[code]

Do you have some code that could achieve the same within your p

[2017-11-14 10:42] jharris4 commented on #16
Sorry for the delay, I've been traveling the last few days. There is a unit test for the glob feature, which you can see here:

https://github.com/jharris4/html-webpack-include-assets-plugin/blob/master/spec/index.spec.js#L840

The gist of it is this:

[code]

Have you tried changing your code to look something like this?

[code]

Let me know if something similar to that works, or else please prov

[2018-01-05 15:08] chinchang opened #17 "Support for hot reloading"
Can this plugin support hot reloading? For example, for a CSS asset, it could dynamically replace the link tags.

[2018-01-05 16:04] jharris4 commented on #17
The primary purpose of this plugin is to support including (static) assets that are not part of your regular source code.

If you want to use hot reloading, you should just place the assets inside your regular source directories, and let webpack handle the inclusion (and hot reloading if desired).

I'm closing this issue, but feel free to leave additional comments if you need more clarification

[2018-01-05 16:04] #17 closed

[2018-01-05 16:05] jharris4 commented on #16
Closing this issue since there hasn't been any activity for a while.

[2018-01-05 16:05] #16 closed

[2018-01-24 03:32] saysmy opened #18 "keep hash unchanged"
Specifying whether the assets should be appended with webpack's compilation hash. This is useful for cache busting. Default is false.

hi, Are there any ways to keep the hash value unchanged and only generate the hash based on the content?

[2018-01-24 03:50] kroko opened #19 "Wildcard not matched, instead simply outputted in template"
Hi,

I have a setup very similar to [first example in the docs](https://github.com/jharris4/html-webpack-include-assets-plugin#example)

* File called`preflight.js` exists and that is not (and should be not) added in webpack entry.
* It is copied to webpack configs output path using `copy-webpack-plugin`. On the way it receives hashing for filename itself which will change only when contents chang

[2018-01-24 03:50] jharris4 commented on #18
The hash is being generated by `webpack`.

If you want to change the `hash` that is generated, you'll need to change your webpack config accordingly.

I'm closing this issue, but happy to help if you have further questions that are specific to this plugin.

[2018-01-24 03:50] #18 closed

[2018-01-24 04:02] jharris4 commented on #19
The last time I looked into this, the issue was because the `copy-webpack-plugin` was not copying the assets until *AFTER* the `html-webpack-plugin` (and therefore this plugin) had completed processing.

This makes it impossible to do anything other than look at the *source* files to do minimatching.

At the time I last looked into this, development on the `copy-webpack-plugin` had mostly stopped

[2018-01-24 11:32] kroko commented on #19
Understood.
I'll give [Webpack File Manager Plugin](https://github.com/gregnb/filemanager-webpack-plugin) a try and report back how it goes.

[2018-01-24 14:27] kroko commented on #19
Well, combination with `filemanager-webpack-plugin` does not work too.

If I change `CopyWebpackPlugin` in the original post to

[code]
I can observe that file emitting really differs, `preflight.123.js` is the first thing to arrive in output path.

However compiled HTML still contains not resolved minimatch against preflight.123.js (contains raw string as specified in HtmlWebpackIncludeAssetsPlug

[2018-01-24 14:50] kroko commented on #19
If I strip this aspect of before/after

by
- dropping file copying in webpack config entirely (both CopyWebpackPlugin  and FileManagerPlugin)
- manually place 'public/assets/preflight.123.js', so that the file physically really is there from the beginning of the as far as code is concerned
- disable output path cleanup before building (cleaning `public/assets/ directory`)
- building the solution

[2018-01-24 18:04] jharris4 commented on #19
Sorry, it's a bit hard for me to follow your examples. Do you think you could create a reproduction of the problem so I can take a quick look?

[2018-02-06 08:52] kroko commented on #19
Hi,

I revisited this issue - my bad.
I had the assumption that if strings are supplied to `assets`, then matching will also be done. However it is done only when objects are passed to `assets`.

Thus to make it work I use *FileManagerPlugin* to copy files to webpack's output path. It does it `onStart`. In my example `src/preflight/preflight.{js|css}` is copied to `public/assets/preflight.123.{js|

[2018-02-06 20:04] jharris4 commented on #19
Yeah, it gets tricky when you're dealing with assets that are being copied to the webpack output path. You need to make sure those assets are copied before htmlWebpackPlugin starts processing things or else you start to get unexpected results...

Thanks for documenting your findings, and for the suggestions of using `htmlWebpackPlugin.options.fsInlineContents` or `ScriptExtHtmlWebpackPlugin`.

I'l

[2018-02-07 07:00] kroko commented on #19
note that `fsInlineContents` is my made up key name, it can be anything that does not clash with built in keys.

[2018-02-19 16:49] Mehdi-Hp opened #20 "Plugin doesn't work with inject:false in HtmlWebpackPlugin"
I have this cause multiple assets injection
[code]
And the result is multiple injection:
[code]
I know `<link href="/main.bundle.css" rel="stylesheet">` is caused by `HtmlWebpackPlugin` itself, But if I set `inject` as `false`, then `HtmlWebpackIncludeAssetsPlugin` doesn't work at all!

[2018-02-19 17:08] jharris4 commented on #20
By setting `HtmlWebpackPlugin`'s `inject` to false, aren't you telling it to not do anything?

It seems logical to me that `HtmlWebpackIncludeAssetsPlugin` will not do anything if you tell `HtmlWebpackPlugin` not to do anything.

Please clarify if I'm not understanding your issue properly...

[2018-02-20 06:59] Mehdi-Hp commented on #20
That's true. I want `HtmlWebpackPlugin` stop injecting things and `HtmlWebpackIncludeAssetsPlugin` handle the works.
After all, I don't care what config should be. I just don't want to have duplicate assets injected to HTML file.

[2018-02-20 10:38] jharris4 commented on #20
To be clear `HtmlWebpackIncludeAssetsPlugin` is a plugin FOR `HtmlWebpackPlugin` and cannot work independently from it.

This plugin just tells `HtmlWebpackPlugin` which extra assets to inject, so I'm sorry but what you're asking for is not possible.

[2018-02-20 10:38] #20 closed

[2018-03-03 21:31] aulisius opened #22 "Updated version"
Hey, I can see in the commit logs that the plugin is now compatible with webpack@4. Can you also update npm with this version?

Thanks,
Faizaan.

[2018-03-03 22:49] jharris4 commented on #22
Hi, version `1.0.3` with webpack@4 compatibility was published to npm 3 days ago, I had just forgotten to push the changes to GitHub. lol

I've pushed the changes now. Good luck with the webpack 4 migration!

[2018-03-03 22:49] #22 closed

[2018-03-06 13:36] BeauAgst commented on #20
@jharris4 is there no way for us to not inject the chunks, but still inject the static assets? I have the same use-case

[2018-03-15 13:13] #19 closed

[2018-03-15 17:55] itmayziii opened #24 "Files property not working"
## Dependencies
* webpack - ^3.10.0
* html-webpack-plugin - ^3.0.6
* html-webpack-include-assets-plugin - ^1.0.4

### Use case
I am converting an older project from Gulp to Webpack so that we can utilize modules in any new code that we write. The problem I am faced with is that we can not completely remove Gulp yet as some of our code can not be ran in strict mode and modules enforce strict mode.

[2018-03-15 19:10] jharris4 commented on #24
Did you see the examples in the unit tests? https://github.com/jharris4/html-webpack-include-assets-plugin/blob/master/spec/index.spec.js#L581

You should use a glob for files and not the full path like in your example...

[2018-03-15 19:38] itmayziii commented on #24
I did actually try using a glob as well like
[code]

[2018-03-15 21:07] jharris4 commented on #24
Maybe try `'*/views/layouts/*.blade.php'` `'*.blade.php'` or even `'*blade.php'`?

[2018-03-16 16:58] itmayziii commented on #24
I just tried those suggestions, nothing seems to be working for me. Even when I remove blog entry point and the htmlPluginBlog from the plugins section it does not work.

It seems anytime I specify the file property at all, the plugin simply does not add anything to my output. I would be interested in helping resolve this issue if your open for community pull requests?

[2018-03-16 19:54] jharris4 commented on #24
Are you sure that gulp has generated the assets at `{path: 'js/dist', glob: 'production*.min.js', globPath: 'assets/js/dist'}` when the plugin runs?

If there were no errors, it must be because it didn't find any assets.

Looking a the [https://github.com/1337programming/webpack-shell-plugin#api](webpack-shell-plugin API) maybe you need to try something like this to make sure gulp is done before t

[2018-04-13 07:05] luozhihua opened #25 "webpack@4.5 TypeError: Cannot read property 'tapAsync' of undefined"
webpack v4.5

[code]

[code]

[2018-04-13 07:16] luozhihua commented on #25
I moved `html-webpack-include-assets-plugin`  after `html-webpack-plugin` was works now.

[2018-04-13 07:16] #25 closed

[2018-05-28 09:47] ElvisKang opened #27 "Ignoring publicPath when path is started with 'http(s)://' or '//'"
Hi!
My project uses some third-party libraries  downloaded from CDN and some local static files with public path '/xyz' in publication env.

I think include-assets-plugin need to ignore configuration of publicPath when the path string is started with 'http(s)://' or '//' , and I needn't to create HtmlWebpackIncludeAssetsPlugin object twice.

[2018-05-28 10:13] jharris4 commented on #27
Hi there. I'm a little confused about how paths starting with `http://` etc are an issue for you with this plugin. This plugin will scan files/directories you specify for assets to include and does not normally have to deal with urls in filenames..

How are real links getting mixed in here along with regular files?

Are you saying that your **filenames** are actually named `https://domain.com/my/f

[2018-05-28 10:59] ElvisKang commented on #27
My configuration is like ：
[code]
This will output a html with：
[code]

[2018-05-28 13:47] jharris4 commented on #27
So it looks like you're just trying to use the plugin configuration to output strings into your html template without actually including any assets?

That might be an interesting idea, but I'm not sure that this plugin is the right place for that kind of functionality.

This name of this plugin has `include-assets` in the name, and what you're describing is not really that. It's more like template

[2018-05-29 01:19] ElvisKang commented on #27
Thanks for your reply.

I use the example in REAME.md for explaining my problem.

In my project , some static files are copied to assets folder ( /assets/** ) by
 CopyWebpackPlugin , which is the same as 'bootstrap.min.css' . Others are downloaded from CDN .

So the configuration file is like :

[code]
The output structure is
[code]
In development env , the public path is '/'  ( `localhost:8080/as

[2018-05-29 09:29] jharris4 commented on #27
Ok, your examples and the PR helped me to understand the problem now.

The `publicPath` option of assets is what you need (your PR was not actually necessary).

```new HtmlWebpackIncludeAssetsPlugin({ assets: 'http://www.foo.com/foobar.js', append: false, publicPath: false })```

will give you:

```<script type="text/javascript" src="http://www.foo.com/foobar.js"></script>```

Give that a try and

[2018-05-29 10:30] jharris4 commented on #27
Closing as the `publicPath` supports what you want like this:

[code]

[2018-05-29 10:30] #27 closed

[2018-05-29 10:31] ElvisKang commented on #27
Ok, thank you for your help

[2018-05-29 10:32] jharris4 commented on #24
@itmayziii did you ever get this working?

I'm thinking of closing this issue for inactivity...

[2018-05-30 04:39] ElvisKang commented on #27
Sorry, I think we should reopen this issue.

For the configuration:
[code]

If the CDN's file (called `X`) depends on `jquery` and `other-static.js` depends on `X`,which means:
[code]

The configuration will be verbose.

I think maybe you can add an attribute named 'publicPath' to single assets config object , which is like :
[code]

[2018-05-31 02:36] ElvisKang opened #29 "Add an attribute named 'publicPath' to each assets config object"
Hi, I open an issue based on #27

For the configuration:
[code]

If the library file (called `X`) depends on `jquery` , and `other-static.js` depends on `jquery` and `X` ,which means:
[code]

The configuration will be verbose.

I think maybe you can add an attribute named 'publicPath' to each assets config object , which is like :
[code]

[2018-05-31 02:57] jharris4 commented on #29
Sorry, I'm having trouble following.

I think having publicPath on each asset would actually make things verbose.

Why can you not just do something like this?

[code]

[2018-05-31 02:58] ElvisKang commented on #29
In my project , the publicPath of  `assets/js/other-static.js`  is `/xyz/` too.

[2018-05-31 17:56] itmayziii commented on #24
@jharris4

I never did get this working, ended up settling for 2 webpack config files so that I could have 2 outputs.

[2018-06-07 06:12] dietergeerts commented on #12
[code]

[2018-06-29 23:22] darkenvy opened #30 "Webpack 4 not including asset"
Does this work with Webpack4? I can find the asset just fine (using the copy plugin as directed) but `html-webpack-include-assets-plugin` never adds anything to the html.

webpack: 4.14.0
html-webpack-include-assets-plugin: 1.0.4

[2018-06-30 12:20] yoasia commented on #25
Hi :) I have same problem. In which file did you moved this line?

[2018-07-11 09:05] gairon commented on #25
@yoasia just place using of `HtmlWebpackPlugin` above usgin `HtmlWebpackIncludeAssetsPlugin` in your `config.plugins`.

[2018-07-30 09:33] yeatszhang opened #31 "Using order cause problems"
webpack v4
html-webpack-include-assets-plugin v1.0.4

When I using in this order

[code]

The first plugin

[code]
will not work.

I found that `HtmlWebpackIncludeAssetsPlugin` need using behind `HtmlWebpackPlugin`

I spend a lot of time to find the problem. I wish it to be fix or doc it.

[2018-08-02 14:53] caravinci commented on #30
To add some info, in my project we have the latest packages for all the Webpack + Babel dependencies as of today. the output is `<script src="undefined"></script>` where it used to inject a JS file correctly on Webpack 3.
I could PR a fix if anyone points me in the right direction?

[2018-08-02 17:29] jharris4 commented on #30
Sorry for the delay on this. I'm currently using this plugin with webpack 4, but had been using it just fine with webpack 3 before that.

I suspect that any issues where the plugin is not working as expected with either of these versions is due to a specific configuration that's being used.

I can try to help dig into it a little if you can provide a reproducible example...

[2018-08-02 17:30] jharris4 commented on #24
closing for inactivity...

[2018-08-02 17:30] #24 closed

[2018-08-02 17:33] jharris4 commented on #31
Hi, I've never tried having two HtmlWebpackPlugin instances like you show in your config. Is that the recommended way to do it?

Either way, if you can provide a reproducible test case I can try to look into what's happening.

[2018-08-02 18:29] caravinci commented on #30
In my case:
[code]
Turns into `<script src="undefined"></script>`

@jharris4 Ideas?

[2018-08-02 18:41] jharris4 commented on #30
@caravinci without a runnable example, it's hard for me to see anything wrong.

You can look at the unit tests here, they have a bunch of tests/examples that are all currently working with webpack 3 (and I've run them locally with webpack 4 too).

Maybe try and copy and paste examples from the unit tests and make sure they work with your setup, and then try to pinpoint the issue?

Also, what versi

[2018-08-02 19:06] caravinci commented on #30
Fair enough. I'm just not sure what to show you (perhaps the whole webpack.config file?) as I'm not able to give you a runnable version of the app I'm working on (private repos and all that).

I'll try the Jasmine approach you suggest and see what I can get. It just seems odd that the bare basic example works well on Webpack 3, yet breaks on 4. Could be some plugin hook issue, would be my best gue

[2018-08-02 19:11] jharris4 commented on #30
Ya, I have the same problem, most of the stuff I use these plugins for is proprietary which makes it hard to post examples.

I do have another plugin which uses this plugin, and has tests that pass when using webpack 4, so I can definitely confirm that this plugin works with both webpack 3 & 4, but maybe you need to track down what's different in your webpack config versus the various examples in

[2018-08-02 19:15] caravinci commented on #30
oooh I like that one, I could potentially use it instead, and could fix my issue (albeit not the issue on this plugin, if there really is one at all).

Let me check and get back to you. Thanks! :+1:

[2018-08-03 03:07] yeatszhang commented on #31
I found the problem when I wrote like this -  to generate html for each page in my CLI tools

[code]

And I found only the last `HtmlIncludeAssets` works, I have to use two `forEach` to fix the problem

[code]

Cause no doc tell me the plugin relate to its order,  I spend a long time to locate the problem. T_T

[2018-08-03 04:31] c0ldcat commented on #30
It seems breaks only when using html-webpack-plugin@4.0.0-alpha.
b252108bdba77c2354d53ee4ab72d157dfee4fc3 maybe fix it

[2018-08-03 13:02] caravinci commented on #30
That commit (which seems to be missing from the master timeline) gives me an idea on how to deal with that. May be able to open a PR later. Setting a reminder for this.

Thanks @jharris4 @c0ldcat for your attention.

[2018-08-03 13:53] jharris4 commented on #31
I wouldn't have thought using one vs two loops would make a difference, are you sure that's the problem?!

Either way, it looks like none of the tests for this plugin tries to use 2 instances of HtmlWebpackPlugin, so I should probably at least add a test for that! :-)

[2018-08-03 13:59] jharris4 commented on #30
Ah yes, there are breaking changes in the API for the alpha version of `html-webpack-plugin` and they actually did give warning:

https://github.com/jantimon/html-webpack-plugin/issues/971

I haven't had the time to look into it yet, but you're more than welcome to make a PR! :-)

PS. @caravinci Are you from Toronto? I'm actually driving there today! :-)

[2018-08-03 16:13] caravinci commented on #30
haha hit me up. I'm free this weekend and we can hang out.

[2018-08-15 06:35] yeatszhang commented on #31
I tested it several times and confirmed that there would be problems if HtmlWebpackPlugin HtmlWebpackIncludeAssetsPlugin was used interchangeably. :blush:

[2018-08-15 16:46] jharris4 commented on #31
oh I see, it's because you changed from mixing them in the plugin list to keeping them separate.

I guess that makes sense. But I think this is an issue with `HtmlWebpackPlugin`, so maybe it would be good to file an issue there?

[2018-08-16 02:30] yeatszhang commented on #31
I think it is OK, please close it after the problem is solved. It is best to mark it in the document.

[2018-08-20 17:52] ganesharulanantham commented on #30
@jharris4 and @caravinci Ooops. Any tentative fix plan? or Should I downgrade to webpack 3?

[2018-08-20 18:09] jharris4 commented on #30
@ganesharulanantham the plugin works with webpack 4. It’s the beta version of `html-webpack-plugin` that it doesn’t work with yet

[2018-08-23 07:16] danburzo commented on #30
Hmm, I can't seem to make the plugin include any assets using

[code]

and:

[code]

Debugging the code I noticed that:

[code]

this doesn't seem to have any effect? (the two methods are not called throughout the process)

[2018-08-23 14:28] danburzo commented on #30
No problem, @jharris4! I've sorted it out from my webpack config, for now.

[2018-09-17 09:31] zenoven commented on #25
same issue, but the solution `move HtmlWebpackIncludeAssetsPlugin after HTMLWebpackPlugin ` is not working for me,

I have multiple HtmlWebpackIncludeAssetsPlugin instances

[code]

[2018-09-19 06:34] jharris4 commented on #30
Version `1.0.5` has just been released with support for the new API introduced in `html-webpack-plugin` 4.X+, and all unit tests are now run on webpack 4.x instead of webpack 3.x.

[2018-09-19 06:34] #30 closed

[2018-09-19 06:39] jharris4 commented on #31
Thanks for the feedback! I updated the README with the following text:

[code]

[2018-09-19 06:39] #31 closed

[2018-09-19 07:58] danburzo commented on #30
Perfect, thank you!

[2018-09-19 12:31] fookoo opened #35 "HtmlWebpackPlugin.getHooks is not a function"
Hi

stack:
"devDependencies": {
    "@babel/core": "^7.1.0",
    "@babel/plugin-proposal-class-properties": "^7.1.0",
    "@babel/preset-env": "^7.1.0",
    "@babel/preset-react": "^7.0.0",
    "babel-loader": "^8.0.2",
    "css-loader": "^1.0.0",
    "file-loader": "^2.0.0",
    "html-loader": "^0.5.5",
    "html-webpack-include-assets-plugin": "^1.0.5",
    "html-webpack-plugin": "^3.2.0",
    "

[2018-09-19 15:16] jharris4 commented on #35
Interesting, it looks like `speed-measure-webpack-plugin` might actually be triggering the case where this error is thrown.

I'll try to look into it, but I have a flight to catch later this afternoon, so worst case please just stick to using `1.0.4` until I get a new release out.

[2018-09-19 15:40] jharris4 commented on #35
I get the error message you described only if `html-webpack-plugin` is missing. I've changed the code to throw an error for this case to make it more obvious what's happening.

Please let me know if adding the missing plugin fixes the issue. Otherwise I'll close the issue.

[2018-09-20 09:38] fookoo commented on #35
As you can see i have got html-webpack-plugin in my package.json, as well as in webpack.config.js (just before html-webpack-include-assets-plugin)

[2018-09-20 10:16] jharris4 commented on #35
Ok, you didn’t include your full webpack config so it wasn’t possible to tell.

Is there an error with version 1.0.4 or only with version 1.0.5 of this plugin?

[2018-09-20 15:43] jharris4 commented on #35
Ok, I just tried adding `speed-measure-webpack-plugin` to my webpack config, and it causes the error. Looks like there's a bug in that plugin that needs to be fixed...

[2018-09-29 08:43] Adherentman commented on #35
@jharris4 yes, add `speed-measure-webpack-plugin`，the error  will appear When can I fix it, or where the problem causes conflict, it can be explained. We can help

[2018-10-10 07:54] quanganhtran commented on #4
This issue has been inactive for a while, but I really look forward to see this happen. At the moment one plugin has the append feature, but the other actually includes the assets to be watched by WDS. I find both capabilities very important

[2018-10-10 07:58] jharris4 commented on #4
@quanganhtran can you clarify what is missing for watching with WDS?

I have projects that use `webpack-dev-middleware` and it works just fine...

[2018-10-10 08:19] quanganhtran commented on #4
@jharris4 thank you for getting back so quickly! I will explain my use case:
[code]
with this, above extra assets are "watched". when `client-fastopt.js` is updated, WDS triggers refresh event to the page. The problem is that the assets are "prepended", which doesn't fit my use case
[code]
with this, assets ordering is good, but paths to the assets are just inserted as is to the HTML. Changes to t

[2018-10-10 10:03] jharris4 opened #37 "Add better support for webpack dev server (WDS)"
Currently, webpack dev server does not seem to detect changes to included assets, as mentioned on the referenced issue.

[2018-10-10 10:04] jharris4 commented on #4
Creating a new issue for the WDS support improvements: #37

[2018-10-10 10:05] jharris4 commented on #37
@quanganhtran I've added a new experiment `asset.assetPath` option that should make WDS behave the way you want.

[2018-10-10 11:39] jharris4 commented on #37
`asset.assetPath` was confirmed to have resolved this issue.

Released in version `1.0.6`

[2018-10-10 11:39] #37 closed

[2018-10-11 08:31] rstoneIDBS opened #38 "Enhancement: Ability to append query parameters to the ends of generated URLS"
We have a use case where we need to append some query parameters to the end of the URL generated for a script include, I can't see any way currently of doing this. If there isn't a simple way that I've missed, then adding something a bit like the 'attributes' feature that appends the given values to the generated URL would be really useful.

[2019-01-18 00:43] garyvh2 opened #39 "Keep [hash] included within CopyWebpackPlugin"
Currently I'm using `copy-webpack-plugin` with the following configuration

[code]

The output would include the `[hash]` and it would look something like `app.settings.3eaa9798d11464fbfd3a9c5d412d6b67.js`, but as stayed in the `README`

[code]

So I was wondering if there's a way for me to `glob` the name like `app.settings.*.js` so the file can be included in the html including the `[hash]`, if

[2019-01-20 17:52] jharris4 commented on #39
Ok, I've added support for the `hash` option to be a function to allow for your use case, and published to npm as version `1.0.7`.

The README was updated to give an example:

[code]

and a unit test was added to show that it works:

https://github.com/jharris4/html-webpack-include-assets-plugin/blob/master/spec/index.spec.js#L1352

Please let me know whether this works for you so I can close this

[2019-01-21 16:56] garyvh2 commented on #39
Great I'll have a look.

Thanks for addressing my problem so quickly, I'll keep you posted.

[2019-01-21 17:17] garyvh2 commented on #39
Hi again, I just checked,

but there's a problem, I believe you are using the `webpack compilation hash`,

But `copy-webpack-plugin` works differently as stayed in this issue https://github.com/webpack-contrib/copy-webpack-plugin/issues/237

By `[hash]` they mean a unique `hash`.

Not sure if that's possible.

[2019-01-21 17:57] jharris4 commented on #39
also, just a thought, can you not just remove the content hash from your assets file names (as added by copy-webpack-plugin), and instead just add the webpack hash as a query parameter to the asset urls?

so instead of:

`app.settings.3eaa9798d11464fbfd3a9c5d412d6b67.js`

you'd have:

`app.settings.js?hash=<the_webpack_compilation_hash>`

depending on your use case, this might be a much simpler wa

[2019-01-29 00:11] garyvh2 commented on #39
Yeah, you're right, the hash param was a better idea, thanks for the suggestion and the feature addition.

[2019-01-29 00:17] jharris4 commented on #39
ok, I'm glad that you seem to have found a solution to your problem. I'm closing the issue...

[2019-01-29 00:17] #39 closed

[2019-01-29 00:18] jharris4 commented on #38
Closing due to inactivity...

[2019-01-29 00:18] #38 closed

[2019-01-29 00:19] jharris4 commented on #35
Closing due to inactivity. @Adherentman hopefully you've managed to address the bug in `speed-measure-webpack-plugin` ?

[2019-01-29 00:19] #35 closed

[2019-02-01 17:44] blachawk opened #40 "Why would webpack-cli require html-webpack-include-assets-plugin"
I am getting a strange error and don't  understand why its happening via npm.

I have the following npm packages installed:

[code]

when I run npm start from the terminal, I get the following error message:

[code]

Why is this happening to me?

[2019-02-01 18:54] jharris4 commented on #40
Sounds like you have it in your webpack config. Try doing a text search across all files maybe?

[2019-02-01 19:08] blachawk commented on #40
Yeah I did that.  Nothing comes up.  So strange.  My Webpack environment runs great with it.  I don't mind holding on to it in development, but I wish I knew why npm is complaining about it when its gone...

[2019-02-01 21:23] jharris4 commented on #40
Very strange, it must be loading the plugin from somewhere, in some kind of `webpack.config.js` file would be my bet.

I don't think there's much I can do to help, since the issue is actually outside of this plugin somewhere.

Gonna close it, good luck tracking down where config is that's causing your error!

[2019-02-01 21:23] #40 closed

[2019-02-15 09:55] viatoswelz commented on #25
same problem here. and changing order did not solve the problem in my case

[2019-03-06 15:28] huruji opened #41 "A bug when using protocol-relative paths in assets"
I want to inject a script which via HTTPS when needed:

[code]

But the `.html` output added a `/`,  the link was `///polyfill.alicdn.com/polyfill.min.js`, It was wrong.

![image](https://user-images.githubusercontent.com/15937065/53892394-2babcf80-4067-11e9-8d24-e69edc669543.png)

**Env**
[code]

[2019-03-06 15:47] jharris4 commented on #41
Oh interesting, I did not even know protocol relative urls existed! (https://www.paulirish.com/2010/the-protocol-relative-url/)

I'll have a look and see if there's an easy fix. Of course, a PR would be welcome if you'd like to have a look yourself... ;-)

[2019-03-06 15:54] huruji commented on #41
well, I will have a look tommorrow when  I am free.

[2019-03-06 16:04] jharris4 commented on #41
Actually, there's a very easy fix for this. The `/` prefix is being added to your url because this is your `publicPath` from webpack.

If you add `publicPath: false` to your asset it should work, like this:

[code]

[2019-03-06 16:04] jharris4 commented on #41
Can you give that a try and let me know if that fixes it?

[2019-03-06 16:09] huruji commented on #41
oh, it works @jharris4

[2019-03-06 16:14] jharris4 commented on #41
Great, glad it was an easy fix!

[2019-03-06 16:14] #41 closed

[2019-04-16 07:49] eytienne commented on #25
@viatoswelz did you solve the problem ?

[2019-04-16 09:12] ab164287643 opened #42 "use it invalidate!!!"
I set it in the webpack.config.js with production environment
[code]
but invalidate in my index.js
[code]
there are no my wanted static file and no errors prompt

[2019-04-17 01:22] ab164287643 commented on #42
I've solved this problem because my production environment used the speed-measure-webpack-plugin plugin, which led to the invalidate of html-webpack-include-assets-plugin, but I still don't know why?

[2019-04-17 01:22] #42 closed

[2019-04-22 04:15] maiwenan opened #44 "path normalization on windows"
Hi, when using `html-webpack-tags-plugin` under windows, it generates the path link: `<link href=\lib\__MOEBIUS__.css?c69a3b2f8dc75215ce4a rel=stylesheet>`

![image](https://user-images.githubusercontent.com/4538563/56482407-99686980-64f6-11e9-8022-b050da682443.png)

here is my config:

[code]

when I change the plugin code :

[code]

to

[code]

it workds.

Any help would be much appreciated! Ple

[2019-04-22 04:59] jharris4 commented on #44
Oh! I thought `path.join` was safe for windows! I'll go add that fix right now, thanks for reporting it!

[2019-04-22 05:13] jharris4 commented on #44
I just released version `2.0.4` with a fix, please confirm whether it fixes the issue for you.

[2019-04-22 05:41] maiwenan commented on #44
`2.0.4` fixed the problem, thanks.

[2019-04-22 05:42] #44 closed

[2019-04-23 12:08] FarahZaqout commented on #25
This is an issue with any two plugins not interacting properly with each other.

Make sure there are no typos in your import/require statements and then that you call all your plugins in the right order. Then it should work fine.

[2019-04-23 13:53] surgeboris opened #45 "Compatibility with html-webpack-plugin@4.0.0-beta.5"
I'm using `webpack@4.30.0`, so (as far as I understand) I supposed to use `html-webpack-plugin@4.0.0-beta.5` (previous versions wouldn't work, would they?).

With `html-webpack-include-assets-plugin@1.0.10` everything works correctly, but when I'm trying to use `html-webpack-tags-plugin@2.0.5` (or `html-webpack-include-assets-plugin@2.0.0`) the build breaks with the following error:

[code]

To me

[2019-04-23 15:49] jharris4 commented on #45
I'll have to take a look at `html-webpack-plugin@4` support, I'll get back to you.

[2019-04-23 16:17] jharris4 commented on #45
I think I know the change that broke it, but I'll have to find some time to try and test a fix with the `4.x` beta.

[2019-04-23 18:31] jharris4 commented on #45
Ok, I fixed the issue, released in [2.0.6](https://github.com/jharris4/html-webpack-tags-plugin/releases/tag/2.0.6).

I figured out a way to make this plugin's test suite run against both versions of `html-webpack-plugin` so I'm now confident that it works with both. :-)

[2019-04-24 08:13] surgeboris commented on #45
It works for me now. This issue can be closed.

[2019-04-24 08:13] #45 closed

[2019-04-24 11:06] jharris4 commented on #37
Just a quick update: `asset.assetPath` was renamed to `asset.sourcePath` in version `2.x` of this plugin

[2019-04-24 11:19] jharris4 commented on #4
@SimenB Hi Simen, I've recently been working on this plugin for a feature that I need for this project, namely to be able to use a new `external: { packageName: 'react', variableName: 'React' }` option for assets that lets me config this plugin to split packages out from `webpack` bundles.

I've got it working, but it also **depends** on the `append` option since packages that are externalized fro

[2019-04-24 11:19] #4 closed

[2019-05-08 06:53] jbures opened #46 "contentHash vs compilationHash?"
Hi there, i'm trying to use this plugin to inject a single js file that i want versioned for production.
I have some code like this on my webpack config:

[code]

My problem here is that the hash changes with every build :/ this is bad for production being able to cache a heavy file.
I read some other posts and issues here about how this hash comes from webpack, but i can't find how to use the con

[2019-05-08 08:58] jbures commented on #46
Well i managed to do what i wanted using the ManifestPlugin, but i think supporting chunkhash/contenthash could do your plugin some good :)

[2019-05-08 08:58] #46 closed

[2019-05-23 11:42] raman-kazhadub commented on #45
Hi @jharris4 ,
I have the same error for :
node v10.15.3
"webpack": "^4.32.0",
"html-webpack-plugin": "^3.2.0",
"html-webpack-tags-plugin": "^2.0.12"
What versions should I use to fix the problem?

[2019-05-23 11:58] jharris4 commented on #45
@raman-kazhadub all versions should be working.

There's a good chance you haven't put the `html-webpack-plugin` before the `html-webpack-tags-plugin` in the plugins array in your webpack config.

If you share more details about your webpack config I can try and offer some suggestions.

[2019-05-23 13:04] raman-kazhadub commented on #45
@jharris4 ,
Please see the example here: https://github.com/raman-kazhadub/react-typescript-webpack4

[2019-05-23 13:15] jharris4 commented on #45
@raman-kazhadub ok I looked at your webpack config and I see that you are using the speed-measure-plugin.

It looks like you are having the same issue as #35

[2019-05-23 13:18] jharris4 commented on #35
looks like this is still not fixed in `speed-measure-webpack-plugin`.

Possibly related issue: https://github.com/stephencookdev/speed-measure-webpack-plugin/issues/55

[2019-05-23 13:26] raman-kazhadub commented on #35
@jharris4  Thanks a lot.

[2019-06-18 14:44] jayryemure opened #47 "Forward slash removed in URL protocol for public path output, 'http:// to http:/'"
One of the forward slashes in the URL protocol seems to be removed from the outputted public path.  `http://[foo]` to `http:/[foo]`

**Ex:**
[code]

**Actual Result:**

`<link href="https:/www.foo.com/content/css/main.min.2976747713ab1fa371cde6441e3cfdef.css" rel="stylesheet"></head>`

(https:/)

**Expected Result:**

`<link href="https://www.foo.com/content/css/main.min.2976747713ab1fa371cde6441e

[2019-06-18 15:25] jharris4 commented on #47
Interesting, I hadn't tried using a full domain in the `publicPath` before. Is there any reason you're configuring it that way instead of just using `/` ?

[2019-06-18 15:30] jharris4 commented on #47
I just added a unit test for this case, and it is failing even on Mac. I'll look and see if I can fix it and get back to you.

[2019-06-18 15:57] jharris4 commented on #47
Thanks for bringing this to my attention! I've fixed the bug and release in version `1.0.13`.

Please confirm if it's now fixed for you and we can close this issue.

[2019-06-18 18:26] jayryemure commented on #47
@jharris4 I've confirmed that it works for me on `1.0.13`, thanks for the fix.

[2019-06-18 18:27] #47 closed

[2019-07-11 16:05] jayryemure opened #48 "AssertionError [ERR_ASSERTION]: object glob found no files"
The issue I'm facing is that this assertion seems to happen immediately on compiler execution before I have a chance to generate the files that it's asserting.  The files in question are css files with content hashes so they're dynamically created during webpack compilation.

https://github.com/jharris4/html-webpack-tags-plugin/blob/7e2f1b3dfd9dbb62294f6fc1a00c4f5ce4741dc4/index.js#L150

Is it ten

[2019-07-11 16:58] jharris4 commented on #48
Interesting... I had designed the glob feature to allow the inclusion of static assets that exist before webpack even starts running.

I think I understand your use though, so there might be a middle ground that can be found fairly easily, where the check for the glob assets existence gets deferred a little.

[2019-07-11 17:02] jharris4 commented on #48
Usually `html-webpack-plugin` itself takes care of adding js/css files that are generated by webpack itself, so I'm a little surprised that you've found a case where that is not happening.

Any chance you can share a more complete webpack config so I can dig a little deeper?

[2019-07-31 11:07] jharris4 commented on #48
@jayryemure I'm still waiting for more details about your webpack config to see if I can dig into this further.

If I don't hear back soon I'll assume I can close the issue. Thanks!

[2019-08-01 11:36] tkrotoff opened #50 "Add support for meta tag"
Currently html-webpack-tags-plugin supports `<link>` and `<script>`, but it does not support `<meta>`.

Use case: `<meta name="msapplication-config" content="favicons/browserconfig.xml?8f58478fb4d4d32bcacf" />`, see https://realfavicongenerator.net/

Full use case, add favicons to index.html and hash the filenames, example:

[code]

[2019-08-01 17:20] jharris4 commented on #50
Interesting idea but this plugin uses `html-webpack-plugin` to insert the tags and it only currently supports `link` or `script` tags.

It might be better to open this issue on that plugin first...

[2019-08-07 23:25] JohnAllen commented on #25
What is the right order?

[2019-08-09 14:17] kmvan commented on #25
"html-webpack-plugin": "^3.2.0",
This version all OK, but not @next

[2019-08-09 15:09] jharris4 commented on #25
The full test suite for this plugin is run and passes with both versions of `html-webpack-plugin` so if you’re having issues it’s likely something to do with your webpack config.

You might want to read the section in the `README.md` about [plugin ordering](https://github.com/jharris4/html-webpack-tags-plugin/blob/master/README.md#plugin-ordering).

[2019-08-19 10:00] tkrotoff commented on #50
Are you sure `html-webpack-plugin` does not handle `<meta>`?
The [`alterAssetTags` hook](https://github.com/jantimon/html-webpack-plugin#alterassettags-hook) takes `meta: Array<HtmlTagObject>`

[2019-08-19 10:30] jharris4 commented on #50
Ok, `html-webpack-plugin` **does** support meta tags, but only through `options.meta`, which you can see [here](https://github.com/jantimon/html-webpack-plugin/blob/35a154186501fba3ecddb819b6f632556d37a58f/index.js#L228)

Basically, if you want to inject `meta` tags, you need to do so through the `html-webpack-plugin` options, something like:

[code]

Can you give the above a try, and let me know

[2019-08-20 09:32] tkrotoff commented on #50
If I use HtmlWebpackPlugin instead of HtmlWebpackTagsPlugin, file `browserconfig.xml` won't be hashed (it's better to directly hardcode `<meta name="msapplication-config" content="favicons/browserconfig.xml" />` inside index.html).

The use case is to have all favicons files to be hashed, something like  `<meta name="msapplication-config" content="favicons/browserconfig.xml?8f58478fb4d4d32bcacf" /

[2019-08-20 14:37] jharris4 commented on #50
Ok, I can see that being able to inject the `publicPath` or `hash` into the meta tag `content` attribute could be useful, so I've added a new option to allow that in version `2.0.14`, along with several (passing) tests.

I've added an example to the README, but here it is again:

-------

Using the **`meta`** option to inject `meta` tags:

[code]

Will inject the following `<meta>` element into th

[2019-08-20 17:05] tkrotoff commented on #50
Works great, thx!

However, the name `meta` feels wrong since there is `scripts` and `links` (and all of them take an array). I would have go for `metas` plural form.

[2019-08-20 17:33] jharris4 commented on #50
I agree, but since this is really just using the `html-webpack-plugin` `meta` option under the covers, I decided to keep them the same.

[2019-08-20 17:55] tkrotoff commented on #50
IMHO this is an implementation detail that users don't care about, they much prefer consistent APIs.

Anyway, it works wonderfully. Thanks a lot :-)

[2019-08-20 17:55] #50 closed

[2019-08-21 02:28] jharris4 commented on #50
@tkrotoff after reflection I think you are correct that `metas` is a more consistent option name than `meta`.

I **renamed** it in version `2.0.15`, shouldn't be a breaking change as nobody is using it yet.

[2019-08-21 07:35] tkrotoff commented on #50
:-)

[2019-09-19 17:27] jharris4 commented on #48
Closing for lack of activity

[2019-09-19 17:27] #48 closed

[2019-09-21 13:38] tkrotoff opened #52 "Add TypeScript support"
Current type definition I use in my projects (something like `types/html-webpack-tags-plugin.d.ts`):

[code]

Then you have autocompletion using vscode or whatever smart editor/IDE:

[code]

3 solutions (see https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html):
- add the typings inside this repo
- contribute to https://github.com/DefinitelyTyped/DefinitelyTyped
- use Typ

[2019-09-21 14:57] jharris4 commented on #52
Can you elaborate on what this means? Are you just looking for TypeScript types?

If so, a PR would be welcome...

[2019-09-21 19:06] tkrotoff commented on #52
Yes, see edited issue description.

[2019-09-21 19:27] jharris4 commented on #52
Ok, I’m new to TypeScript but I’m curious.

Thanks for sharing your starter definition, I’ll see if I can find time to get around to adding it next week.

[2019-09-23 07:47] jharris4 commented on #52
I've added the TypeScript definitions and released in `2.0.16`.

@tkrotoff Can you please try out the definitions in the new version and let me know if it works for you so I can close this issue? Thanks!

[2019-09-23 19:44] tkrotoff commented on #52
File types.d.ts is not part of the package: https://unpkg.com/browse/html-webpack-tags-plugin@2.0.16/

I guess you have to add types.d.ts to `files` inside package.json: https://docs.npmjs.com/files/package.json#files
[code]

[2019-09-23 21:51] jharris4 commented on #52
Oh crap! yeah I only tested locally with `import HtmlWebpackTagsPlugin from "../typings.d.ts";`

I'll publish another version with the file added. Sorry about that, and thanks for reporting it!

[2019-09-23 21:58] jharris4 commented on #52
Published in `2.0.17`. That should do the trick.

[2019-09-25 21:02] tkrotoff commented on #52
It works fine, thx!

[2019-09-25 21:02] #52 closed

[2019-10-03 13:45] jahooma commented on #25
For what it's worth, I had this error, and solved it by (what else) deleting my npm folder, package.json & running `npm install`.

[2019-10-04 12:03] JDansercoer opened #53 "publicPath: '/' breaks the reference to CDN JS files"
I hope I can explain this correctly. If something would be unclear, don't hesitate to ask further questions.

To enable local development with Webpack and React Router, you need both `publicPath: '/'` and `historyApiFallback: true`.

However, this makes the resulting HTML break when actually building, since it's there trying to import everything from `/`, **even http assets**.

[code]

[2019-10-04 14:50] jharris4 commented on #53
Hi @JDansercoer can you share more of your webpack config?

Also, please note that it is possible to set the `publicPath` for this plugin to a **different value** than the one used by webpack.

To resolve your issue, you may just want to add the following to the options for this plugin:

[code]

[2019-10-07 06:31] JDansercoer commented on #53
Sorry for the late answer @jharris4.

Unfortunately, it seems I reverted my changes without stashing them, so I don't have a ready config to share with you.

I did however try setting 'publicPath' to false, but this made my `main.js` bundle ignore the publicPath as well. A possible solution I had, was to explicitly set `publicPath: false` on every tag (which are just `React`, `ReactDOM` and `style

[2019-10-08 19:13] jharris4 commented on #53
I think the `usePublicPath` and `addPublicPath` options can help you here!

Try something like this:

[code]

I'll also think about whether it might be a good idea to change the default to this behaviour...

[2019-10-11 12:23] JDansercoer commented on #53
Yeah, I know there's multiple ways of changing it, but just wanted to bring up that I'd expect different default behaviour for http assets :)

[2019-11-05 07:41] sailormillet opened #55 "why I update html-webpack-include-assets-plugin to 1.0.9, include assets will be append several times"
hello, @jaridmargolin ,In the previous version,  html-webpack-include-assets-plugin@1.0.7, everything works fine. My colleague update the plugin, I see some errors. include assets will be append several times.
this is code:
[code]
append the following into the index template html like this
[code]
should I use html-webpack-tags-plugin replace html-webpack-include-assets-plugin, they are the same pl

[2019-11-05 12:53] jharris4 commented on #55
`html-webpack-tags-plugin` is the newer version, it works mostly the same except drops support for node versions < 8, and changes the configuration syntax.

I would recommend that you update to use the newer version, and for the configuration you posted above, change it to:

[code]

As for the assets appearing twice, I suspect that you may be including the plugin 2 times in your webpack config. Pl

[2019-11-21 10:19] sailormillet commented on #55
thanks for your reply. I check my config. and find the config is right. maybe my project is Multi Page Application and I found that the assets is always less than the project’s application page by one.  so I check different`html-webpack-tags-plugin` version's code. find something was different.

![image](https://user-images.githubusercontent.com/16287657/69316019-da825100-0c72-11ea-8e4f-2af11b7e6f

[2019-11-22 09:10] sailormillet commented on #55
thanks for your reply. I check my config. and find the config is right. maybe my project is Multi Page Application and I found that the assets is always equal to the project’s application pages.  so I check different`html-webpack-tags-plugin` version's code. find something was different.

![image](https://user-images.githubusercontent.com/16287657/69316019-da825100-0c72-11ea-8e4f-2af11b7e6fbd.png)

[2019-11-22 12:37] jharris4 commented on #55
@sailormillet it's quite difficult to help debug your issues without seeing a more complete webpack config. Without more detail, the only things I can suggest are:

- try upgrading to `html-webpack-tags-plugin`
- for multi page applications, you probably want to use the `files` option so the plugin only gets applied once for each single html file.

[2020-01-24 23:37] joyfulelement opened #56 "How to reuse [hash] or [contenthash] placeholders provided by Webpack within the given hash option?"
Hi, first of all, great plug-in by the way, helps a lot when there is a need to generate references for static files (not directly used by JS) in HTML automatically.

## Use Case

This is perhaps similar to what #46 had brought up, but with my specific use case, I was looking to automatically generate a references to CSS files (not directly used by JS and processed by webpack) in HTML. In order fo

[2020-01-25 12:41] jharris4 commented on #56
Hi, the `hash` passed as the 2nd argument above is the webpack compilation hash, so it is the same as the `[hash]` you mentioned in your question.

As for the `[contenthash]` from your question, the issue is that CopyWebpackPlugin is executed **after** HtmlWebpackPlugin, so the only way to get the content hash that I'm aware of is using manual method you described in your Attempt Two (Workaround).

[2020-01-25 12:43] jharris4 commented on #55
@sailormillet Hopefully you've resolved your problems. I'm closing the issue, but feel free to open a new one if you're still having trouble!

[2020-01-25 12:43] #55 closed

[2020-02-27 19:44] jensbodal opened #57 "Adding custom hash function doesn't seem to work"
[code]

When doing a production build with webpack the file isn't generated. If I set `hash: true` instead everything is fine.

Is my function wrong?

[2020-02-27 23:26] jensbodal commented on #56
I've tried using `html-webpack-deploy-plugin` but I can't seem to figure out how to copy over the hashed file and inject that name into the index.html. The solution from @joyfulelement seems like it would work though.

This is essentially what I want to work

[code]

[2020-02-27 23:27] jensbodal commented on #57
Never mind, the function does seem to work but I had assumed it was also copying the script to my build directory.  Closing as my current comments are now in https://github.com/jharris4/html-webpack-tags-plugin/issues/56

[2020-02-27 23:27] #57 closed

[2020-02-28 00:59] jensbodal commented on #56
Here's what I ended up doing. I have a feeling there is some more native way to accomplish this since it was pretty easy to do back in the day with `grunt`.

[code]

[code]

Would be better to generate the hash from the file contents, but at least cache busting will work with the script for each deployment regardless if it changes.

[2020-05-14 16:24] the-simian commented on #55
I experienced this exact issue when using dependencies that used the older html-webpack-include-assets-plugin. upgrading to the tags version fixed it for me, but a lot of plugins out there still use the old one.

[2020-05-15 10:22] IMakiMaki opened #60 "object glob found no files"
Run `npm run build`.
Got this:
`AssertionError [ERR_ASSERTION]: HtmlWebpackTagsPlugin.options.tags object glob found no files`

Here is my webpack plugins config:
[code]

[2020-05-15 10:30] IMakiMaki commented on #60
I create a repository.

Here:

https://github.com/IMakiMaki/webpack-learning

[2020-05-18 03:00] IMakiMaki commented on #60
OK.It's my fault.I should inject the file in `/library` instead of the `/dist`.

[2020-05-18 03:00] #60 closed

[2020-05-19 05:43] KPSoftec opened #61 "Including scripts twice, when used with HTMLWebpackPlugin."
Include scripts twice when used with HTMLWebpackPlugin and no HTML-loader.

new HtmlWebPackPlugin({
      title: appTitle,
      templateParameters: {
        title: appTitle,
      },
      favicon: './src/assets/img/favicon.ico',
      template: './src/index.html',
      filename: './index.html',
      inject: 'body',
      base: process.env.BUILD_DOMAIN === 'release' ? `/${appName}/` : '/',

[2020-05-19 09:47] jharris4 commented on #61
Usually when you get tags twice it's because of the content your html template, or because webpack was already injecting the file.

Can you check that whether the duplicate file is still being added if you remove it from the `scripts` option, and also double check whether changing the `inject: 'body'` setting makes a difference.

[2020-05-22 16:13] stlst opened #62 "Can I add <script> in <head>?"
Now *.js files are added in <body> of *.html by default. Is there an option for me to set <script> tag in <head>?

[2020-05-22 16:47] jharris4 commented on #62
I'm not sure I understand this question, but the settings for where tags get inserted (head vs body) is controlled by the html-webpack-plugin options.

[2020-05-23 15:22] KPSoftec commented on #61
I tried this with inject:body as commented.
But its still including two files.
I m not using any HTML loader.

    "clean-webpack-plugin": "^3.0.0",
    "compression-webpack-plugin": "^4.0.0",
    "copy-webpack-plugin": "^6.0.1",
    "html-webpack-plugin": "^4.3.0",
    "html-webpack-tags-plugin": "^2.0.17",
    "file-loader": "^6.0.0",

![image](https://user-images.githubusercontent.com/22777496/

[2020-05-23 16:18] jharris4 commented on #61
Can you try removing the HtmlWebpackTagsPlugin from your webpack config and verify if the file is still there?

I don't think it can be this plugin that is adding files twice, or else the unit tests would have caught it (ex: https://github.com/jharris4/html-webpack-tags-plugin/blob/master/spec/end_to_end.spec.js#L183)

[2020-05-25 02:06] savlajubin commented on #61
I tried to remove this and the file is not getting included

and when I add it again then it is getting imported twice.

[2020-05-25 11:57] KPSoftec commented on #61
@jharris4

I had found something weird about this package.

**Findings-1**
I was using "html-webpack-plugin": "^3.2.0", with "html-webpack-tags-plugin": "^2.0.17", In this case the file was getting included only once, and html-loader was also there in webpack configuration ("html-loader": "^0.5.5"). But with this our title and base options was not working which is a part of html-webpack-plugin.

T

[2020-05-25 19:57] jharris4 commented on #61
This plugin IS a plugin for `html-webpack-plugin` and the test suite has dozens of tests that are run against both version 3 and version 4 of that plugin.

I can try to help you pinpoint if there's something in your webpack configuration that's causing the issue if you provide a link to a repository that reproduces the issue.

[2020-10-13 12:47] breeswish opened #65 "Doesn't work with webpack5"
Webpack 5 adds `output.publicPath: 'auto'` [by default](https://github.com/webpack/webpack/pull/11258). This causes HtmlWebpackTagsPlugin produce wrong tags.

[2020-10-13 13:04] breeswish commented on #65
Oh sorry, later discovered that my assets are served from a manifest file and the name in the manifest file is already wrong.

[2020-10-13 13:04] #65 closed

[2020-11-24 07:12] NE-SmallTown opened #66 "[Feature Request]Support inline css or script be inserted"
Seems currently we must provide the `path/src` option, but sometimes we want to insert some inline css or script like `<style>.foo {} </style>` or `<script>console.log('hello')</script>`

[2021-01-11 07:20] rhaksw commented on #56
Here's [my crack](https://github.com/reveddit/reveddit/blob/bf7c435a8a7dbc2b9ce9aaec208e704fdfd4304f/webpack.config.js#L16-L42) at adding a content hash function,

[code]

[2021-03-02 10:12] zhipenglin commented on #62
try append:false

[2021-03-05 20:44] mwoz123 opened #69 "Can't add generated (not copied) by webpack script using glob"
In my webpack configuration I'm using
https://www.npmjs.com/package/webpack-merge-and-include-globally
which concatenates number of legacy es5 global scripts into one (named `es5-legacy-global-script<hash>.js` )

My html-webpack-tags-plugin configuration is:
[code]

because it's not a copied script doesn't exist before webpacks run. so I'm getting error:

`[webpack-cli] { AssertionError [ERR_ASSER

[2021-03-06 14:00] jharris4 commented on #69
Hi! If I'm understanding correctly, you are trying to add an asset that doesn't exist when the build starts and is generated by webpack? This plugin expects all the assets to exist before the build starts...

Normally it is expected that all webpack generated files will already be handled by the `html-webpack-plugin` that this plugin is built on top of.

Also the fact that both this plugin and the

[2021-03-06 20:07] mwoz123 commented on #69
Sure I'll.
Just didn't understand why it couldn't be generated..

[2021-04-06 09:21] stevemarksd opened #72 "Error: Cannot find module 'html-webpack-plugin' Require stack:"
I'm getting `Error: Cannot find module 'html-webpack-plugin'
  Require stack:`

I'm using in gatsby. Anyone knows why is requiring a module that is not specified in node_modules?

[code]

[2021-04-06 09:41] jharris4 commented on #72
I can't speak to gatsby specific issues, but it might be a good idea for this plugin to list `html-webpack-plugin` as a peerDependency...

[2021-04-07 06:38] jharris4 commented on #72
@stevemarksd version 3.0.1 has just been published to update the peerDependencies.

Provided you're already using version 3.x (which requires webpack >= 5.x) can you update your dependencies and confirm whether the issue is resolved?

[2021-04-29 10:57] vinamelody commented on #62
Hi @jharris4 thanks for the pointer, you're right!
currently i have `inject: true` so it's by default, app.bundle.js is added just before closing body tag.

but what if I want certain js to be inserted in head?

[2021-04-29 12:39] jharris4 commented on #62
It really depends whether you're talking about webpack generated js or js generated by this plugin. There are different settings for each plugin depending on which one you're talking about.

[2021-04-30 02:00] vinamelody commented on #62
hmm i'm trying to add an external js. thanks @jharris4 !

[2021-04-30 07:50] jharris4 commented on #62
Where script tags get inserted is controlled by the settings of `html-webpack-plugin`. This (html-webpack-tags-plugin) plugin only allows controlling the order of external script tags, not their location (head vs body).

You can try changing the `inject` option of the `html-webpack-plugin` to something like `head`, but unfortunately there isn't currently a way to control this on a per-script tag l

[2021-04-30 07:58] vinamelody commented on #62
yup hmm i tried changing it to `head` but then my `app.bundle.js` needs to be placed in body
for now i'll create a different `index.html` production version to solve this thing first :)

[2021-05-04 10:11] z639 commented on #65
@breeswish Are things working for you in webpack5 ?

I've just migrated and this plugin is giving me issues right now, but if you have it working then it might just be something I'm doing wrong.

[2021-10-29 08:39] jjaanila opened #79 "Attributes not added to scripts in head"
I have a bunch of scripts coming from CDN and I inject them into index.html like this:

[code]
The scripts are prepended fine into head, but the configured attributes are not added.
I think the root cause is on this line

https://github.com/jharris4/html-webpack-tags-plugin/blob/acdccfc8cab6773a33820ccde138e6c3f08fca87/index.js#L548

which assumes that all scripts will be in body. A possible fix w

[2021-10-30 08:23] jharris4 commented on #79
I've fixed the issue (and added some e2e tests for it) and published version `3.0.2` with the fix. Thanks for reporting the issue, and please do let me know if you find any further issues!

[2021-10-30 08:23] #79 closed

[2021-11-01 09:59] jjaanila commented on #79
`3.0.2` does indeed fix the issue. Thanks a lot! :medal_sports:

[2022-08-16 12:22] neutraali opened #83 "WDS: Tags emitted from public root or not at all"
**Problem**: When using [Webpack Dev Server](https://webpack.js.org/configuration/dev-server/), no tag assets are ever actually emitted, leading to crashes in cases where the main bundle relies on DLL -dependencies. For example, using the following config:

[code]
... Results in the correct tag output:

![tags](https://user-images.githubusercontent.com/16540190/184876236-5cca60de-dcfb-401a-886d-e5

[2022-08-16 12:29] neutraali opened #84 "Glob & globPath incompatible with sourcePath"
**Problem:** `sourcePath` is incompatible with `glob` + `globPath`, which leads to builds and/or the [DevServer](https://webpack.js.org/configuration/dev-server/) not reacting to any changes. For example, using the following config:

[code]
... Leads to the following error:

![eisdir](https://user-images.githubusercontent.com/16540190/184879470-ae732e4f-527c-4b95-bae0-bee57a68a967.png)

... Which

[2022-08-16 15:37] jharris4 commented on #83
Hi! This plugin is not meant to actually do any emitting of assets, its job is just to output tags into the html file.

If you want assets to also be emitted, you'll need to use the `copy-webpack-plugin` or similar to accomplish that.

You can see some examples of that in the e2e or browser tests from this repo:

https://github.com/jharris4/html-webpack-tags-plugin/blob/bf5952c14430e998bc097e987a9

[2022-08-16 15:48] jharris4 commented on #84
Hmm, I can't recall whether I've tried using the `glob` options together with the `sourcePath` option. A quick review of the code implies that you can specify sourcePath with glob, but then all found files will get the same sourcePath.

Can you provide some more explanation of what it is you are trying to accomplish?

Also, if you think something is not working as it should, it would be really hel

[2022-08-17 12:35] neutraali commented on #83
Thanks for the quick reply @jharris4! Using the following **WebpackCopyPlugin** config (used only for the dev server itself) I was able to get things rolling:

[code]
... Still kinda weird that you have to "copy" an already existing file (into the same source folder no less!), but oh well! 🐱

[2022-08-17 12:35] #83 closed, assigned to nobody

[2022-08-17 12:39] neutraali commented on #84
Right, so... Consider a folder called `path/to/build/js` with the following content:

[code]

... Using the config above, the idea would be to map/link `vendor` and `language` to their relevant (non-map) source files. This may or may not be an actually relevant issue, as it can probably also be handled by including it in `watch` -configuration of **Webpack** separately.

[2022-08-17 14:19] jharris4 commented on #84
It looks like you're maybe trying to use this plugin to do things with webpack generated assets, and that's not what this plugin is designed for.

That said, if you're trying to somehow inject existing scripts as tags into your html, you'll need to make sure you copy the scripts and associated source map files using copy-webpack-plugin, so that they get served together from the same place.

usuall

[2022-08-18 07:12] neutraali commented on #84
Cool, I can get on with this. Thanks for the snappy replies @jharris4!

[2022-08-18 07:12] #84 closed, assigned to nobody

[2022-11-14 03:09] superZZhong opened #85 "script label sort!!"
It is recommended to add script label sorting
code 483 line;
483: assets.js = jsPrependPaths.concat(assets.js).concat(jsAppendPaths);